.element {
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;

  &.clickable {
    cursor: pointer;
  }

  .elementContent {
    padding: 6px;
    display: flex;
    align-items: center;

    &.center {
      justify-content: center;
    }
  }
}

.element.children2 {
   .elementContent:first-child {
     flex: 1;
   }
   .elementContent:last-child {
     justify-content: flex-end;
   }
}
