@custom-media --not-mobil (width >= 500px);

.layout {
  height: 100%;
  display: flex;
  flex-direction: row;

  .layoutTopbar {
    display: none;
    height: 80px;
  }

  .layoutSidebar {
    display: none;
  }

  .layoutMain {
    flex: none;
    width: 100%;

    .layoutMainBody {
      background-color: #F4F5F5;
      width: 100%;
      height: calc(100% - 48px);
      overflow: auto;
    }
  }
}

.layout.toggle {
  .layoutTopbar {
    display: block;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 48px);
    box-sizing: border-box;
  }

  .layoutSidebar {
    flex: 1;
    display: block;
    height: calc(100% - 80px);
  }

  .layoutMain {
    width: 48px;
    height: 100%;

    .layoutMainBody {
      display: none;
    }
  }
}

@media (--not-mobil) {
  .layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .layoutTopbar {
      display: block;
      flex: 0 1 100%;
    }

    .layoutSidebar {
      display: block;
      flex: .4;
      height: calc(100% - 80px);
    }

    .layoutMain {
      flex: 1;
      height: calc(100% - 80px);
    }

  }

  .layout.toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .layoutTopbar {
      position: static;
      width: calc(100% - 48px);
    }

    .layoutSidebar {
      display: none;
    }

    .layoutMain {
      height: calc(100% - 80px);

      .layoutMainBody {
        display: block;
      }
    }
  }
}
