.cityPlaces {
  .placeItem {
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;

    .placeTitle {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: #90908D;
      opacity: 0.5;

      .hide {
        border: 1px solid #fff;
        margin: 6px;
        padding: 6px;
        visibility: hidden;
      }
    }

    h2 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      border: 1px solid #fff;
      padding: 6px;
      color: #fff;
      opacity: .8;
    }

    img {
      order: 0;
      width: 100%;
      height: 180px;
    }
  }
}
