.cityPlaces {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;

  .placeItem {
    display: flex;
    flex-direction: column;
    margin: 6px;
    border-bottom: 1px solid #EBEBEB;
    cursor: pointer;
    background-color: #fff;

    h2 {
      order: 1;
      padding: 6px;
    }

    img {
      order: 0;
      width: 100%;
      height: 180px;
    }
  }
}
