@custom-media --not-mobil (width >= 500px);

.cityPlaces {
  display: flex;
  flex-direction: column;

  .placeItem {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    background-color: #fff;
    margin: 6px;

    h2 {
      order: 2;
      padding: 6px 12px;
      font-weight: bold;
      font-size: 11px;
    }

    img {
      order: 1;
      width: 100%;
      height: 180px;
    }
  }
}


@media (--not-mobil) {
  .cityPlaces {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    .placeItem {
      img {
        width: 180px;
      }
    }
  }
}
