.layoutSidebar {
  background-color: #3CA2E0;

  .element.clickable {
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: #3CA2E0;
    }
  }

  .element.selected {
    background-color: #fff;
    color: #3CA2E0;
  }

  .element.header {
    background-color: #2089C9;
    color: #ecf6fc;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, .5), inset 0px 0px 1px rgba(255, 255, 255, .8);

    .elementContent {
      min-height: 32px;
      font-size: 12px;
      font-weight: bold;
    }
  }

  .badge {
    color: #fff;
  }
}
