@import 'reset-css/reset.css';

html, body, #application {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-smoothing: antialiased;
}

a {
  color: #3CA2E0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-size: 15px;
  line-height: 24px;
}

svg {
  width: 24px;
  height: 24px;
}
